*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/erd.pdf
.DS_Store
dump.rdb
