.row
  .span8.offset2.centered
    %form.form-search{:action => "main-lang"}
      %input.input-medium.search-query{:name => "nick", :placeholder => "GitHub nickname", :type => "text"}
      %button.btn{:type => "submit"} Find most favorite languages